@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;500;700&display=swap');

@keyframes animar {
  70%{transform: translateX(0%);}
  80%{transform: rotateZ(-5deg)}
  100%{transform: translateX(0%);}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

:root{
  --principal: #FEA3AC;
  --fraca: #ffbdc2;
  --forte: #A65A62;
  --bg: #31043F;
  --color: #FFB900;
  --maximo: 1200px;
  --header: 75px;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background-color: var(--fraca);
  border-radius: 10px;
}

html{
  scroll-behavior: smooth;
  transition: 5s;
}

html, body{
  background-color: #eee;
  font-family: 'K2D', sans-serif;
}

.flex{display: flex;}
.column{flex-direction: column;}
.between{justify-content: space-between;}
.evenly{justify-content: space-evenly;}
.around{justify-content: space-around;}
.j-center{justify-content: center;}
.a-center{align-items: center;}
.wrap{flex-wrap: wrap;}
.disable{display: none;}

section{
  border-bottom: 1px solid var(--fraca);
  box-shadow: 0 0 5px #00000040;
}

.container{
  max-width: var(--maximo);
  margin: auto;
  min-height: calc(100vh - var(--header));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content{
  width: 100%;
  max-width: var(--maximo);
  margin: 0 auto;
}

button, .pointer{cursor: pointer;}

.top{margin: 1rem 0;}

.title{
  color: var(--forte);
  text-align: center;
  font-size: 2rem;
}

.subtitle{
  color: var(--forte);
  text-align: center;
  font-size: 1rem;
}

.botton{
  color: var(--forte);
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.shadow{
  background-color: var(--bg);
  box-shadow: 0 0 5px #00000060;
}

header{
  position: fixed;
  width: 100%;
  height: var(--header);
  z-index: 99;
}

.header{
  max-width: var(--maximo);
  margin: auto;
}

#logo{height: var(--header); padding: 0 1rem;}
#nome{width: 0; overflow: hidden;}

.navbar{
  width: 70%;
}

.nav-list{
  background-image: linear-gradient(to right, var(--principal), var(--fraca));
  padding-bottom: .3rem;
  border-radius: 50px 0 0 50px;
}

.nav-item{
  width: 20%;
  text-align: center;
  border-radius: 50px 0 0 50px;
  color: #eee;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-item:hover{color: var(--forte);}

/* Vitrine */
#vitrine{
  background-color: #ddd1be;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
}

#vitrine .bg-vitrine{
  width: 100%;
  height: calc(100vh);
  max-height: 1000px;
  opacity: .5;
}

#vitrine .escope{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 100%;
  max-width: var(--maximo);
}

#vitrine .text{
  width: 50%;
  font-family: 'K2D', sans-serif;
  font-size: 2rem;
  color: var(--forte);
  text-align: center;
  text-shadow: #eee 1px 1px 2px;
}

#vitrine .slide{
  overflow: hidden;
  width: 50%;
  max-width: 300px;
}

#vitrine .option{
  transform: translateX(100%);
  width: 100%;
  animation: animar 3s 1s ease forwards;
}

/* Produtos */
#produtos{
  background-color: #31043fe1;
  /* background-color: #ffc6df; */
}

#produtos .title, #produtos .subtitle{
  color: #eeeeeed8;
}

#produtos .cards{
  width: 100%;
}

#produtos .card{
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 2rem 0;
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--principal);
}

#produtos .card-img{
  height: 50%;
  width: 50%;
}

#produtos .card-title{
  color: #eeeeeed8;;
  font-size: 1.5rem;
  text-align: center;
}

#produtos .botton{
  color: #eeeeeed8;
}

/* Onde */
#onde{
  /* background-color: #D6F8FF; */
  background-color: #EEEEEE;
}

#onde .title, #onde .subtitle{
  /* color: #0F4505; */
  color: #5B0675;
}

#onde .mapa{width: 100%;}

#onde iframe, #onde .content img{
  padding: .3rem;
  border-radius: 20px;
  width: 100%;
  box-shadow: inset 0 0 5px #5B067570;
}

#onde .content img{width: 25%;}

#onde .botton{
  color: #5B0675;
}

/* Premia */
#premia{
  /* background-color: #ccb0bc; */
  background-color: #31043fe1;
  color: #EEEEEE;
}

#premia .title, #premia .subtitle{
  /* color: #000050; */
  color: var(--color);
}

#premia .botton{
  /* color: #000050; */
  color: var(--color);
}

#premia .promos{margin: 1rem 0;}

#premia button{
  font-family:  'K2D', sans-serif;
  color: var(--bg);
  /* background-color: #2f5cee; */
  background-color: var(--principal);
  border-radius: 20px;
  border: transparent;
  margin: 0 .1rem;
  padding: 0 1rem .2rem;
}

#premia .current{
  background-color: transparent;
  border: var(--principal) 2px solid;
  color: var(--principal);
}

#premia .promo img{
  width: 100%;
  max-width: 300px;
}

#premia a{
  width: 100%;
  max-width: 300px;
  margin: .5rem;
}

#premia a button{
  width: 100%;
  padding: .2rem .5rem;
}

#premia .info{
  text-align: center;
  margin: 1rem 0;
  color: var(--color);
}

#premia .info h1{
  font-size: 2rem;
  color: var(--principal);
}

#premia .topo{
  width: 100%;
  margin: 1rem 0;
}

#premia form{
  width: fit-content;
  text-align: center;
}

#premia #telefone{
  background-color: #ffffff;
  text-align: center;
  width: 60%;
  padding: .3rem;
  margin: .5rem;
  border-radius: 5px;
  border: .1px solid #777777;
}

#premia .ranking{padding: 0 2rem;}

#premia .ranking h2{
  display: flex;
  align-items: center;
}

#premia .ranking span{
  margin: .2rem;
}

#premia .ranking img{
  width: 30px;
}

#premia .cards{
  text-align: center;
  width: 80%;
  margin: auto;
}

#premia .card{
  width: 100%;
  margin: .5rem 1rem;
}

#premia .card img{
  width: 100%;
  max-width: 80px;
}

#premia .regulamento p{
  text-align: center;
  font-size: .7rem;
  padding: 0 .3rem;
}
/* Contatos */
#contatos{
  background-color: #ddd1be;
  color: var(--forte);
}

#contatos img{
  width: 43%;
  max-width: 250px;
}

#contatos a{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#contatos a img{
  width: 25px;
  margin: .5rem;
}

footer{
  position: relative;
  background-color: #fff;
  color: #EEE;
  padding: 1rem;
}

footer .copy{
  width: 100%;
  text-align: center;
}

footer img:not(.back){
  width: 50px;
  margin: 0 .5rem;
}

footer p{
  text-align: center;
}

footer a{
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (width>768px) {
  .navbar{display: block !important;}
  .btn-menu{display: none !important;}
}

@media screen and (width<=768px) {
  .header{
    position: relative;
  }

  .navbar{
    /* display: none; */
    background-color: #eeeeeed8;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100;
  }
  
  .nav-list{
    position: absolute;
    top: var(--header);
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    padding: .5rem 0;
    z-index: 999;
  }
  
  .nav-item{
    width: 100%;
    padding: .2rem 0;
  }
  
  .btn-menu{margin: 0 1rem;}

  .escope{
    flex-direction: column-reverse;
  }

  #vitrine .slide{
    margin-top: calc(var(--header) / 2);
    width: 60%;}

  #vitrine .text{
    width: 100%;
    font-size: 1.5rem;
  }

  #onde .content img{width: 40%;}

  #onde .mapa{width: 60%;}
}

@media screen and (width<=525px) {
  #vitrine .slide{width: 80%;}

  #onde .content{
    flex-direction: column-reverse;
    align-items: center;
  }
  #onde .content img{
    width: 80%;}
  #onde .mapa{
    width: 80%;
    height: 250px;
  }

  #premia .promos{flex-direction: column;}
  #premia .promos button{margin: .1rem 0;}

  #premia .topo{
    flex-direction: column;
    margin: .5rem 0;}

  #premia form, #premia .info{margin-bottom: .5rem;}
  #premia .ranking{margin-top: .5rem;}

  #premia .cards{flex-wrap: wrap;}
  #premia .card{width: 26%;}

  #contatos a h2{font-size: .9rem;}
}
